.jumbotron-fluid {
    background-image: url("Fotos/aroma-background-black-1415555.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .navbar {
      background-color:rgba(0, 0, 0, 0);
  }
  
  .locopoco {
      width: 200px;
      
  }

  .card-columns {
    column-count: 3;
}
.thumbnail {
    width: 100%;
    height: 300px;
    overflow: hidden;
    box-shadow: 1px 13px 21px 2px rgba(84,84,84,1);

}

img {
    -webkit-transition: all 1s ease;
    
    
}
.offerrss {
    width: 100%;
    transform: scale(1);
}
.offerrss:hover {
    transform: scale(1);
}
img:hover {
    transform: scale(2.2);
}

.locopoco:hover {
    transform: scale(1);
}

.bg-cust {
    background-color: rgba(1,2,3,0.4);
    box-shadow: box-shadow 5px 40px 0px 35px rgba(0,0,0,0.100);
    
}

.map-container-5{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
.map-container-5 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }
   
   